.project-component {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    flex: 8;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.upper-head {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.searchbar {
    margin-left: 20px;
}

.project-list {
    margin-top: 20px;
}

.project {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f6f8fa;
}

.card-title {
    margin: 0 0 15px 0 !important;
}

.project-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.project-actions button {
    padding: 6px 10px;
    margin-left: 10px;
    background-color: #e1e4e8;
    color: #333333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-project {
    margin-top: 20px;
}

.add-project-form {
    margin-top: 10px;
}

.download-icon {
    color: white;
}

.card-footer button {
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.card-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem !important;
}

.card-info-left span {
    padding: 8px;
    border-radius: 15px;
    background-color: var(--bs-card-cap-bg);
}

.project-component input[type='text'],
.project-component input[type='file'] {
    padding: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    margin-bottom: 10px;
}

.like-icon {
    color: #4caf50;
}

.dislike-icon {
    color: #f44336;
}

.vote-count {
    margin-left: 5px;
}

.ReactTags__remove {
    cursor: pointer;
    color: red;
    border-radius: 50px;
    border: 1px #ccc solid;
}